{% extends 'base.html'%}

{% block content %}
<div class="container">
<div class="card">
  <div class="row">

  
<!-- displaying  Username-->
  <div class="col-md-4">
    <h3>Name: {{user.username| capitalize}} </h3>

  <!--Display profile photo-->
  

    {% if user.profile_pic_path %}
    <img  src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail img-circle img-responsive">
    {%else%}
    <p>No profile picture</p>
    {% endif %}
    <br>

    {% if user == current_user %}
    <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">

      <input type="file"  name="photo" class="form-control" required>
      <input type="submit">
    </form>
      {% endif %}

      {% if user == current_user %}
      
         <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
      
      {% endif %}
  </div>

      <div class="col-md-4">
            <!--Displaying user bio-->
    {% if user.bio %}
    <h3>Bio :</h3>
      <p> {{user.bio}}</p>
    {%else%}
      <p> {{user.username| capitalize}} has no bio </p>
    {% endif %}
    </div>

    <div class="col-md-4">
      <h3>My Pitches</h3>
      <a href="/user/my_pitches"><button type="button" class="btn btn-md">View My Pitches</button></a>
     

    </div>
      
 
</div>
</div>
</div>
{% endblock %}