{% extends 'base.html'%}

{%block content%}
<h1>hello there</h1>
<div class="container">
  <div class=" row">
    <div class="col-md-3">
      <div class="card">
        <a href="">Inerview Pitch</a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card"> 
        <div>
          <a href="">Band Pitch</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <a href="">Business Pitch</a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <a href="">Job Pitch</a>
      </div>
    </div>

  </div>

</div>
{%endblock%}